
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/
main/static/main/images
main/static/main/videos
art_website/__pycache__/
main/__pycache__/

